.navHeader {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navItem {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 4px;
}

.navItem:hover {
    background: cornflowerblue;
}