.navHeader {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    background: dimgrey;
    border-radius: 100%;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navItem {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 4px;
}

.navItem:hover {
    background: cornflowerblue;
}