.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}


.detailSection {
  padding-bottom: 16px;
}

.detailSection__experience {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detailSection__header {
  border-bottom: 1px solid gray;
  margin-bottom: 16px;
}