.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}


.detailSection {
  border-bottom: 1px solid red;
  padding-bottom: 16px;

}

.detailSection__jobs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}